{% extends 'webshop/layout.html' %} 
{% block body %}
<div class="container">
<div class="row">
  <div class="col">
    <br>
    <h1 id="title">Wachtwoord reset verstuurd</h1>
    <hr class="my-4">
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <h5 id="title">We hebben je instructies gemaild voor het resetten van je wachtwoord.
    Je ontvant deze e-mail spoedig.</h5>
    <h6 id="title">Als je geen e-mail ontvangt, check of het ingevulde e-mailadres klopt en check je spam folder.</h6>
    <hr class="my-4">
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col" id="title">
    <a href="{% url 'home' %}"><button type="button" class="btn btn-outline-dark">Ga naar home pagina</button></a>
  </div>
</div>
</div>
{% endblock%}