/* GENERAL  */
@font-face {
    font-family: 'Sartono';
    src: url('Sartono.eot'); /* IE9 Compat Modes */
    src: url('Sartono.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Sartono.woff') format('woff'), /* Modern Browsers */
         url('Sartono.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('Sartono.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Chapaza';
    src: url('Chapaza.eot'); /* IE9 Compat Modes */
    src: url('Chapaza.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Chapaza.woff') format('woff'), /* Modern Browsers */
         url('Chapaza.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('Chapaza.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    overflow: scroll;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-color: #96a480;
}

/* top  */
.topbar {
    background-color: pink; 
    text-align: center; 
    margin-bottom: 10px;
}

.sticky-top {
    background-color: white;
}

/* header  */
.header-logo {
    background-color: white;
    width: 100%;
    text-align: center;
    font-family: 'Chapaza';
    font-size: 300%;
}

.header-logo a:hover {
    color: #1a1919;
}

/* sidebar  */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
  
.sidebar a {
    font-weight: 300;
    padding: 8px 8px 8px 32px;
    font-size: 20px;
    text-transform: lowercase;
    color: #1a1919;
    display: block;
    transition: 0.5s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: white;
    padding: 10px 15px;
    margin-left:5px;
    border: none;
    align-self: flex-start;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

/* navbar  */
.nav-item {
    text-transform: uppercase;
}

/* account and shopbag icon */
.account-icon {
    width: 20px;
}

.shopper-icon {
    width: 16px;
}

/* body  */
.body-wrapper {
    padding-top:5px;
    padding-bottom: 50px;
    margin: 0px;
    width: 100%;
}

/* footer  */
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f0ebeb;
}

.footer .row {
    padding: 30px;
    display: flex;
    flex-flow: row wrap;
}

.footer .row .col {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .footer .row .col {
        flex-basis: auto;
    }
}

/* TINY SPECIFICS */
.upper {
    text-transform: uppercase;
}

.row {
    margin: 0px;
}

a {
    color: #1a1919;
}

a:hover {
    color: #96a480;
    text-decoration: none;
}

.tiny {
    font-size: 14px;
    text-transform: lowercase;
}

.title { 
    text-align: center;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 1px solid #e3e7e8;
}

/* ABOUT US */
.about-us-pics-left, .about-us-pics-right {
    width:50%;
}

.about-us-pics-left {
    padding-right: 15px;
}

.about-us-pics-right {
    padding-left: 15px;
}

/* ADMIN  */
.order-information {
    margin: auto;
}

.order-information tr th, .order-information tr td {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .customer-name, .order-date, .order-shipment, .order-status {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .information, .customer, .date, .shipment, .status {
        display: none;
    }
}

/* ALL PRODUCTS  */
.subtext {
    text-align: center;
}

.all-products-wrapper {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    padding-top: 10px;
}

.product {
    padding: 10px;
}

.product img {
    height: 200px;
}

.product-label {
    text-align: center;
}

/* CART  */
.discount-code-message {
    text-align: center;
}

.cart-information {
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}

.cart-information tr td, .cart-information tr th {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .product-price, .product-subtotal, .product-total, .product-remove {
        display: none;
    }

    .product-quantity {
        text-align: right;
    }
}

@media screen and (min-width: 769px) {
    .price, .remove {
        display: none
    }
}

.remove {
    text-transform: lowercase;
    font-size: 12px;
}
.product-thumbnail img {
    width: 100px;
}

.delete-button {
    background-color: white;
    border: none;
}

.delete-button img {
    height: 16px;
}

.subtotal-cart {
    font-weight: 600;
    font-size: 18px;
}

.cart-button {
    text-align: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.continue-order {
    height: 51px;
    overflow: hidden;
    display: inline-block;
    align-content: center;
    width: 40%;
    padding: 10px 15px;
    font-size: 16px;
    -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
    .continue-order {
        width: 100%;
    }
}

.discount-subtotal {
    padding-left: 10px;
    padding-right: 10px;
}

/* CHANGE PERSONAL INFO  */
.change-information-button {
    text-align: center;
    padding-top: 20px;
}

.change-info {
    height: 51px;
    overflow: hidden;
    display: inline-block;
    align-content: center;
    width: 40%;
    padding: 10px 15px;
    font-size: 16px;
    -webkit-appearance: none;
}

@media screen and (max-width: 768px) {
    .change-info {
        width: 100%;
    }
}

/* CHANGE STATUS  */
.change-status {
    width: 90%;
    margin: auto;
}

.change-status tr th {
    font-weight: 600;
}

.change-status tr td, .change-status tr th {
    padding: 10px;
}

.status-button {
    overflow: hidden;
    align-content: center;
    font-size: 14px;
}