:root {
    --black: #0F112A;
    --white: #F3F5F4;
    --lightblue: #D2E7F8;
    --lightpink: #F7D6DF;
    --darkblue: #121888;
    --darkpink: #5E3641;
}

@font-face {
    font-family: 'LostaMasta Regular';
    src: url('fonts/LostaMasta-Regular.ttf') format("truetype"); /* IE9 Compat Modes */
    src: url("fonts/LostaMasta-Regular.otf") format("opentype");
}

@font-face {
    font-family: 'LostaMasta Thin';
    src: url('fonts/LostaMasta-Thin.ttf') format("truetype"); /* IE9 Compat Modes */
    src: url("fonts/LostaMasta-Thin.otf") format("opentype");
}

html, body {
    background-color: var(--white) !important;
    height: 100%;
    width: 100%;
    margin: 0px;
    overflow-x: hidden; 
    font-family: 'Montserrat', sans-serif !important;
}

/* GENERAL  */
a {
    text-decoration: none !important;
}

button:focus { 
    outline: 0 !important; 
}

.thin {
    font-family: 'LostaMasta-Thin';
}

.thick {
    font-family: 'LostaMasta-Regular';
}

.lg-header {
    font-size: 2.125rem;
}

.md-header {
    font-size: 1.875rem;
}

.lg-size {
    font-size: 1.25rem;
}

.md-size {
    font-size: 1rem;
}

.sm-size {
    font-size: 0.875rem;
}

.uppercase {
    font-size: 1.33rem;
    text-transform: uppercase;
}

.dark-text {
    color: var(--darkpink);
}

.white-text {
    color: var(--white);
}

.light-text {
    color: var(--lightpink);
}

.centered {
    text-align: center;
}

.blue-div {
    background-color: var(--lightblue);
}

.pink-div {
    background-color: var(--lightpink);
}

.dark-overlay,
.dark-overlay img {
    width: 20vw;
    height: calc(80vw / 3);
}

.dark-overlay {
    background: black;
    overflow: hidden;
}

.dark-overlay img {
    object-fit: cover;
    opacity: 0.4;
}

.overlay-text {
    position: relative;
    bottom: 50%;
    left: 0%;
}

.sm-photo {
    width: 15vw;
    height: 20vw;
    object-fit: cover;
}

.md-photo {
    width: 20vw;
    height: calc(80vw / 3);
    object-fit: cover;
}

.lg-photo {
    width: 25vw;
    height: calc(100vw / 3);
    object-fit: cover;
}

.btn-blue {
    background-color: var(--darkblue);
    color: var(--lightpink);
    padding: 20px 40px;
    border: none;
}

.md-photo-square {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
}

.space-below {
    padding-bottom: 2vw;
}

.space-above {
    margin-top: 1vw;
}

/* LAYOUT  */
.nav-link,
.nav-link:hover,
.navbar-brand,
.navbar-brand:hover {
    color: var(--black) !important;
    text-decoration: none !important;
}

.navbar {
    background-color: var(--white);
}

.navbar.active {
    background-color: var(--lightblue);
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav > * {
    padding: 0 2vw;
}

.container-fluid.active {
    justify-content: flex-end !important;
    padding-top: 0.5vw;
    margin-bottom: 0.35vw;
}

.menu-icon {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
}

.menu-icon .menu-icon__cheeckbox {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-touch-callout: none;
    position: absolute;
    opacity: 0;
}

.menu-icon div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 1.25rem;
    height: 12px;
}

.menu-icon span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--bar-bg, var(--black));
    border-radius: 1px;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

.menu-icon span:first-of-type {
    top: 0;
}

.menu-icon span:last-of-type {
    bottom: 0;
}

.menu-icon.active span:first-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:first-of-type {
    transform: rotate(45deg);
    top: 5px;
}

.menu-icon.active span:last-of-type, .menu-icon .menu-icon__cheeckbox:checked + div span:last-of-type {
    transform: rotate(-45deg);
    bottom: 5px;
}

.menu-icon.active:hover span:first-of-type, .menu-icon.active:hover span:last-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:first-of-type, .menu-icon:hover .menu-icon__cheeckbox:checked + div span:last-of-type {
    width: 22px;
}

@media (max-width: 991px) {
    .menu-icon {
        display: inline;
    }
}

.sidebar {
    display: none;
    background-color: var(--lightblue);
    width: 100vw !important;
    position: absolute;
    z-index: 10000;
}

.sidebar.active {
    display: block;
}

.sidebar-links {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.sidebar-links a {
    color: var(--black);
    padding: 2vw 0;
}

footer,
.socials-icon {
    display: flex;
    flex-flow: row wrap;
}

footer {
    color: var(--lightpink);
    background-color: var(--darkblue);
    justify-content: space-evenly;
    align-items: flex-start;
}

.logo {
    font-size: 2rem !important;
    font-family: 'LostaMasta-Regular';
}

.navbar-brand.active {
    display: none;
}

.footer-information,
.footer-about,
.footer-socials {
    padding: 5vw 3vw;
}

footer div p a,
footer div p a:hover {
    color: var(--lightpink)
}

.socials-icon {
    justify-content: space-between;
}

/* HOME  */
.headline {
    margin: 3vw;
    z-index: 0;
    position: relative;
}

.categories,
.latest-products,
.about,
.instagram-pictures {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.categories {
    margin: 7vw 5vw;
}

.story {
    padding: 5vw 15vw;
    margin: 0 0 5vw 0;
}

.latest-products {
    margin: 0 0vw 5vw 0;
}

.about {
    margin: 5vw 8vw;
}

.about-text,
.about-image {
    width: 50vw;
}

.about-image {
    text-align: right;
}

.instagram {
    margin: 8vw 0 0 0;
}
