{% extends "webshop/layout.html" %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="title">
                    <h1>Bestelinformatie</h1>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col" id="bestelinfo">
                <h5>Verzenden</h5>
                <p>Wij verzenden onze pakketjes met PostNL en ze passen allemaal door de brievenbus. 
                De verzendkosten voor buiten Nederland verschillen en zijn te zien tijdens het bestelproces, wanneer je het land waarin je woont aangeeft.
                Alle bestellingen die voor 16:00 uur worden geplaatst worden diezelfde dag nog in behandeling genomen.
                De levertijd is 1-2 werkdagen, maar in verband met de drukte bij PostNL zou dit iets langer kunnen zijn.</p>
                
                <h5>Garantie</h5>
                <p>Sieraden van Oleada Beads hebben twee maanden garantie vanaf de dag waarop de bestelling is geplaatst.
                In de volgende gevallen heb je geen recht op garantie:</p>
                
                <div>
                    - natuurlijke slijtage
                </div>
                <div>
                    - vlekken veroorzaakt door parfum
                </div>
                <div>
                    - beschadiging van kralen na contact met water
                </div>
                <div>
                    - het afgeven van kralen na contact met water
                </div>
                <div>
                    - klachten die zijn ontstaan na verkeerd gebruik van de sieraden
                </div><br>

                <p>Alle producten worden handgemaakt met natuurlijke materialen en kunnen hierdoor iets afwijken van de afbeeldingen op onze website.</p>
                <h5>Retourneren</h5>
                <p>Het is niet mogelijk sieraden te retourneren.</p>
                <h5>Privacy policy</h5>
                <p>Wanneer je een bestelling plaatst bij Oleada Beads vragen wij je volledige naam, adres en e-mailadres. 
                Je gegevens worden uitsluitend gebruikt om contact te kunnen opnemen over je bestelling en zullen niet voor promotionele doeleinden worden gebruikt.
                Je persoonlijke gegevens worden nooit verstrekt aan derden.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}