{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="title">
                    <h1>Samenvatting van bestelling #{{ order.id }}</h1>
                    <div class="row">
                        <div class="col text-right">
                            Totaal: €{{ order.total }}
                        </div>
                        <div class="col text-left">
                            Status: {{ order.status }}
                        </div>
                    </div>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <table class="center" style="width:90%">
            <tr id="lines" class="header">
                <th></th>
                <th><h5>Product</h5></th>
                <th><h5>Aantal</h5></th>
                <th><h5>Prijs</h5></th>
                <th></th>
            </tr>
            {% for item in order.orderproduct.all %}
                <tr id="itemcontent">
                    <td class='alnleft'>
                        <a href="{% url 'product' item.product.name %}">
                            <img src="{% static item.product.image.first.image.url %}" width="100px">
                        </a>
                    </td>
                    <td>
                        <h6><a href="{% url 'product' item.product.name %}">{{ item.product.name }}</a></h6>
                    </td>
                    <td>
                        <h6>{{ item.quantity }}</h6>
                    </td>
                    <td>
                        <h6>€{{ item.product.price }}</h6>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}