{% extends 'webshop/layout.html' %} 
{% block body %}
<div class="container">
<div class="row">
  <div class="col">
    <br>
    <h1 id="title">Wachtwoord resetten</h1>
    <h6 id="title">Vul je nieuwe wachtwoord in zodat wij deze kunnen verifiëren.</h6>
    <hr class="my-4">
  </div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col">
    <form action="" method="POST">
      {% csrf_token %} 
      {{ form }}
      <input type="submit" value="Reset Password"/>
    </form>
  </div>
  <div class="col"></div>
</div>
</div>

{% endblock%}