{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="row">
        <div class="col">
            <h3 class="title">Over ons</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Wij zijn Emmelien en Cleo, vriendinnen sinds groep 1! 
            Naast onze studies Econometrie en Creative Business zijn we een tijd geleden begonnen met armbandjes maken.
            Dit hebben we inmiddels uitgebreid met kettingen en oorbellen met veel verschillende designs. 
            Parels, bedels, kralen, deel je idee met ons en wij maken het!<br><br>
            Wij zijn begonnen met Oleada Beads aan het begin van de coronacrisis. 
            Om een beetje nog een zakcentje te verdienen besloten we kralen armbandjes te maken.
            Na inspiratie te hebben opgedaan van Pinterest zijn we aan de slag gegaan!
            Wij zijn erg blij met de reacties om ons heen en de leuke reviews!<br><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="about-us-pics-left" src="{% static 'images/emmelien.png' %}" ALIGN="Left">
            Hi, ik ben Emmelien! Ik ben 22 jaar en woon in Amsterdam.
            Momenteel ben ik bijna klaar met de bachelor Econometrie aan de Universiteit van Amsterdam
            en volgend jaar ga ik beginnen met de master Business Analytics aan de Vrije Universiteit.<br><br>
            Ik heb de minor programmeren aan de UvA afgerond, wat ik erg leuk vond.
            Hiermee heb ik onder andere ook websites leren maken.
            Voor een van de projecten heb ik besloten een webshop voor Oleada Beads te maken.
            Hiermee combineer ik mijn interesse voor data/IT en ons bedrijfje!
            Het is heel leuk om te zien hoe langzaam maar zeker de website wordt opgebouwd.
            En ik vind het natuurlijk ook super leuk dat ik dit zelf nu kan!<br><br>
            Afgelopen jaar heb ik een artistieke kant van mezelf ontdekt. 
            Het maken van sieraden en schilderen is een grote hobby geworden.
            Ik vond schilderen altijd al leuk, maar sinds corona tijd heb ik het weer opgepakt!
            Naast wiskunde en programmeren vind ik wandelen en lekker koken leuk om te doen!
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="about-us-pics-right" src="{% static 'images/cleo.jpeg' %}" ALIGN="Right">
            Ik ben Cleo en ik ben 22 jaar! 
            Na het behalen van mijn MBO diploma voor animatie en audiovisuele vormgeving studeer ik nu Creative Business aan de Hogeschool van Amsterdam. 
            Hier leer ik alles gerelateerd aan de media industrie. <br><br>
            Ik ben dol op ontwerpen en content creëren en ben altijd wel met een telefoon in m’n handen te vinden, klaar om een foto te schieten. 
            De vormgeving en foto’s van Oleada Beads verzorg ik dan ook zelf, wat ik een super leuk project vind. <br><br>
            Kralen is een nieuwe hobby geworden sinds corona tijd. 
            Ik ben altijd al iemand geweest die veel sieraden draagt dus ik vind het heel leuk dat ik nu mijn eigen gemaakte sieraden kan dragen! 
            Daarnaast sport ik graag en ben ik veel bezig met mijn fysieke en mentale gezondheid, ik ben groot fan van self care!
        </div>
    </div>
    
{% endblock %}