{% extends "webshop/layout1.html" %}

{% block body %}
{% load static %}

    <div class="centered lg-header thin space-above">Over ons</div>
    <div class="about-us">
        <div>
            Wij zijn beste vriendinnen die er tijdens de lockdown een hobby bij hebben gekregen: kralen. 
            Sieraden maken is voor ons de ultieme self-care, even lekker niks aan ons hoofd en gewoon gezellig samen zijn. 
        </div>
        <div class="space-above">
            Naast onze studies Econometrie en Creative Business zijn we een tijd geleden begonnen met armbandjes maken.
            Dit hebben we inmiddels uitgebreid met kettingen en oorbellen met veel verschillende designs. 
            Parels, bedels, kralen, deel je idee met ons en wij maken het!
        </div>
        <div class="space-above">
            Wij kennen elkaar inmiddels bijna 20 jaar en hebben veel meegemaakt. 
            Sinds corona hebben we elkaar in de creativiteit gevonden. 
            Onze smaak is grappig genoeg super verschillend! 
            Cleo houdt van een minimalistische en elegante look, terwijl Emmelien juist een voorkeur heeft voor maximalisme. 
            Hoe kleurrijker en gekker, hoe beter!
        </div>
    </div>
    <div class="about-us blue-div">
        <div class="md-header thick space-below">Cleo</div>
        <div class="text-img">
            <div class="img-c">
                <img class="md-photo" src="{% static 'images/Cleo.png' %}">
            </div>
            <div class="text-c">
                <div>
                    Al 22 jaar loop ik rond op deze wereld. 
                    Na het behalen van mijn MBO diploma voor animatie en audiovisuele 
                    vormgeving studeer ik nu Creative Business aan de Hogeschool van 
                    Amsterdam. Hier leer ik alles gerelateerd aan de media industrie.
               </div>
               <div class="space-above">
                    Ik ben dol op ontwerpen en content creëren en ben altijd wel met een 
                    telefoon in m’n handen te vinden, klaar om een foto te schieten. 
                    De vormgeving en foto’s van Oleada Beads verzorg ik dan ook zelf, 
                    wat ik een super leuk project vind.  
               </div>
               <div class="space-above">
                    Kralen is een nieuwe hobby geworden sinds corona tijd. 
                    Ik ben altijd al iemand geweest die veel sieraden draagt 
                    dus ik vind het heel leuk dat ik nu mijn eigen gemaakte sieraden kan dragen! 
                    Daarnaast sport ik graag en ben ik veel bezig met mijn fysieke en mentale gezondheid, 
                    ik ben groot fan van self care!
                </div>
            </div>
        </div>
    </div>
    <div class="about-us pink-div">
        <div class="md-header thick dark-text space-below">Emmelien</div>
        <div class="text-img">
            <div class="text-e">
                <div>
                    Ik ben 23 jaar en woon in Amsterdam. 
                    Ik ben net afgestudeerd met de bachelor Econometrie aan de Universiteit van 
                    Amsterdam en komend jaar ga ik er lekker een jaartje uit!
               </div>
               <div class="space-above">
                   Tijdens de minor programmeren heb ik onder andere geleerd websites te maken, 
                   en dit vond ik erg leuk! De combinatie van creatief en technisch vind ik super cool :). 
                   Ik zie mezelf hier zeker verder in ontwikkelen! 
               </div>
               <div class="space-above">
                    Afgelopen jaar heb ik een artistieke kant van mezelf ontdekt: 
                    het maken van sieraden en schilderen is een grote hobby geworden. 
                    Ik vond schilderen altijd al leuk, maar sinds corona tijd heb ik het weer opgepakt. 
                    Verder houd ik van koken, dansen en sporten!
               </div>
            </div>
            <div class="img-e">
                <img class="md-rectangle" src="{% static 'images/emmelien.png' %}">
            </div>
        </div>
    </div>
    
{% endblock %}