{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div id="cat" class="col">
                    <h1>{{ name }}</h1>
                    <p>
                        {{ text }}
                    </p>
                    <hr class="my-4">
                </div>
            </div>
            {% if empty%}
                <div class="row">
                    <div class="col" id="cat">Geen producten in deze categorie.</div>
                </div>
            {% else %}
                <div class="row" id="wrapp">
                    {% for product in products %}
                        <div id="product">
                            <a href="{% url 'product' product.name %}">
                                <img src="{% static product.image.first.image.url %}" height="320px">
                                <p>
                                    {{ product.name }}
                                    €{{ product.price }}
                                </p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}