{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 id="title">{{ name }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col" style="text-align: center;">
                    {{ text }}
                </div>
            </div>
            {% if empty%}
                <div class="row">
                    <div class="col" id="cat">Sorry, we hebben even geen producten in deze categorie!</div>
                </div>
            {% else %}
                <div class="row" id="wrapp">
                    {% for product in products %}
                        <div id="product">
                            <a href="{% url 'product' product.name %}">
                                <img src="{% static product.image.first.image.url %}" height="175px">
                                <p id="title">
                                    {{ product.name }}
                                    €{{ product.price }}
                                </p>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}