{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div id="title">
                        <h1>Winkelwagen</h1>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
            {% if incart %}
                <table class="center" style="width:90%">
                    <tr id="lines" class="header">
                        <th></th>
                        <th><h5>Product</h5></th>
                        <th><h5>Aantal</h5></th>
                        <th><h5>Prijs</h5></th>
                        <th></th>
                    </tr>
                    {% for item in cartitems %}
                        <tr id="itemcontent">
                            <td class='alnleft'>
                                <a href="{% url 'product' item.product.name %}">
                                    <img src="{% static item.product.image.first.image.url %}" width="100px">
                                </a>
                            </td>
                            <td>
                                <h6><a href="{% url 'product' item.product.name %}">{{ item.product.name }}</a></h6>
                            </td>
                            <td>
                                <h6>{{ item.quantity }}</h6>
                            </td>
                            <td>
                                <h6>€{{ item.product.price }}</h6>
                            </td>
                            <td class='alnright'>
                                <a href="{% url 'deletefromcart' item.product.name %}">
                                    <button class="btn" id="deletebutton" type="button">
                                        <img src="{% static 'images/Delete.png' %}" height="20px">
                                    </button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="row">
                    <div class="col">
                        <hr class="my-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col"></div>
                    <div class="col text-right">
                        <strong id="Totalnr">Subtotaal €{{ total }}</strong>
                    </div>
                </div>
                <div class="row" id="Checkout">
                    <div class="col text-left">
                        <form action="{% url 'discount' %}" method="post" class="form-inline">
                            {% csrf_token %}
                            <div class="flex">
                                <div>
                                    <input class="form-control" type="text" id="Korting" placeholder="Kortingscode"> 
                                </div>
                                <div>
                                    <button type="submit" id="Voegtoe" style="display: none;" class="btn">
                                        <img src="{% static 'images/Plus.png' %}" height="25px">
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col text-right">
                        <a href="{% url 'cont' %}"><button class="btn" id="bestelling" type="button">Bestelling afronden</button></a>
                    </div>
                </div>
            {% else %}
            <div class="row align-items-center">
                <div class="col" id="continuecheckout">Je hebt geen producten in je winkelwagen!</div>
            </div>
            {% endif %}
        </div>
    </div>

    <script type="text/javascript">
        $("#Korting").keyup(function () {
            if ($(this).val()) {
                $("#Voegtoe").show();
            }
            else {
                $("#Voegtoe").hide();
            }
        });
        $("#Voegtoe").click(function () {
            $("#Korting").val('');
            $(this).hide();
        });
    </script>
{% endblock %}