{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper cart-content">
        <p class="statement">Winkelwagen</p>
        {% if message %}
            <div class="row">
                <div class="col discount-alert">
                    <div class="alert alert-custom alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if messages %}
            {% for message in messages%}
                <div class="row">
                    <div class="col discount-alert">
                        <div class="alert alert-custom alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        {% if incart %}
            <table class="cart-information">
                <thead>
                    <tr>
                        <th class="product-thumbnail">
                            Product
                        </th>
                        <th class="product-name"></th>
                        <th class="product-price-table">
                            Prijs
                        </th>
                        <th class="product-quantity">
                            Aantal
                        </th>
                        <th class="product-subtotal">
                            Totaal
                        </th>
                        <th class="product-remove"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %} 
                        <tr>
                            <td class="product-thumbnail">
                                <a href="{% url 'product' item.product.name %}">
                                    <img src="{% static item.product.image.first.image.url %}" width='100px'>
                                </a>
                            </td>
                            <td class="product-name">
                                <a href="{% url 'product' item.product.name %}">{{ item.product.name }}</a>
                                {% if item.product.sale %}
                                    <div class="sale-section price">
                                        <p class="not-sale-price">{{ item.product.price }}</p>
                                        {{ item.product.sale_price }}
                                    </div>
                                {% else %}
                                    <div class="price">{{ item.product.price }}</div>
                                {% endif %}
                                <div class="remove">
                                    <a href="{% url 'deletefromcart' item.product.name %}">
                                        verwijderen
                                    </a>
                                </div>
                            </td>
                            <td class="product-price-table">
                                {% if item.product.sale %}
                                    <p class="not-sale-price">{{ item.product.price }}</p>
                                    {{ item.product.sale_price }}
                                {% else %}
                                    <div>{{ item.product.price }}</div>
                                {% endif %}
                            </td>
                            <td class="product-quantity">
                                {{ item.quantity }}
                            </td>
                            <td class="product-subtotal">
                                {{ item.total }}
                            </td>
                            <td class="product-remove">
                                <button class="delete-button">
                                    <a href="{% url 'deletefromcart' item.product.name %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col">
                    <form action="{% url 'discount' %}" method="post" class="form-inline">
                        {% csrf_token %}
                        <div class="discount-input-button">
                            <div class="discount-input">
                                <input class="form-control" type="text" id="Korting" name="korting" placeholder="Kortingscode"> 
                            </div>
                            <div>
                                <button type="submit" id="Voegtoe" class="btn button-discount" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col text-right">
                    <p class="subtotal-cart">Subtotaal €{{ total }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col cart-button">
                    <a href="{% url 'cont' %}">
                        <button class="btn continue-order" type="button">Bestelling afronden</button>
                    </a>
                </div>
            </div>
        {% else %}
        <div class="row">
            <div class="col register-title">Je hebt geen producten in je winkelwagen!</div>
        </div>
        {% endif %}
    
        <script type="text/javascript">
            $("#Korting").keyup(function () {
                if ($(this).val()) {
                    $("#Voegtoe").show();
                }
                else {
                    $("#Voegtoe").hide();
                }
            });
            $("#Voegtoe").click(function () {
                $("#Korting").val('');
                $(this).hide();
            });
        </script>
    </div>    

{% endblock %}