{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="container" style="padding-bottom:50px !important;">
            <form class="needs-validation" action="{% url 'checkout' %}" id="myform" method="post" novalidate>
                {% csrf_token %}
                <div class="row" id="checkoutform">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h3 id="title">Facturering</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Voornaam</label>
                                {% if customer.firstname %}
                                    <input type='text' value='{{ customer.firstname }}' id="voornaam" name='voornaam' class='form-control' required>
                                {% else %}
                                    <input type='text' name='voornaam' id="voornaam" class='form-control' required>
                                {% endif %}
                                <div class="invalid-feedback">
                                    Vul je voornaam in.
                                </div>
                            </div>
                            <div class="col">
                                <label>Achternaam</label>
                                {% if customer.lastname %}
                                    <input type='text' id="achternaam" value='{{ customer.lastname }}' name='achternaam' class='form-control' required>
                                {% else %}
                                    <input type='text' id="achternaam" name='achternaam' class='form-control' required>
                                {% endif %}
                                <div class="invalid-feedback">
                                    Vul je achternaam in.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <label>Straatnaam</label>
                                {% if customer.streetname %}
                                    <input type='text' id="straatnaam" value="{{ customer.streetname }}" name='streetname' class='form-control' required>
                                {% else %}
                                    <input type='text' id="straatnaam" value="" name='streetname' class='form-control' required>
                                {% endif %}
                                <div class="invalid-feedback">
                                    Vul je straatnaam in.
                                </div>
                            </div>
                            <div class="col-4">
                                <label>Huisnummer</label>
                                {% if customer.housenr %}
                                    <input type='text' id="huisnummer" value="{{ customer.housenr }}" name='housenr' class='form-control' required>
                                {% else %}
                                    <input type='text' id="huisnummer" name='housenr' class='form-control' required>     
                                {% endif %}
                                <div class="invalid-feedback">
                                    Vul je huisnummer in.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Postcode</label>
                                {% if customer.postalcode %}
                                    <input type='text' id="postcode" value="{{ customer.postalcode}}" name='postalcode' class='form-control' required>
                                {% else %}
                                    <input type='text' id="postcode" name='postalcode' class='form-control' required>
                                {% endif %} 
                                <div class="invalid-feedback">
                                    Vul je postcode in.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>Stad</label>
                                {% if customer.city %}
                                    <input type='text' id="stad" value="{{ customer.city }}" name='city' class='form-control' required>
                                {% else %}
                                    <input type='text' id="stad" name='city' class='form-control' required>
                                {% endif %}
                                <div class="invalid-feedback">
                                    Vul je stad in.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label>E-mail</label>
                                {% if customer.email %}
                                    <input type='text' id="email" value='{{ customer.email}}'name='email' class='form-control' required>
                                {% else %}
                                    <input type='text' id="email" name='email' class='form-control' required>
                                {% endif %}
                                <div class="invalid-feedback">
                                    Vul je e-mailadres in.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <h3 id="title">Verzendmethode</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="Brievenbuspakketje" name="shipping_option" value="Brievenbuspakketje" type="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="Brievenbuspakketje">Brievenbuspakketje (+ €2)</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="Met Track & Trace" name="shipping_option" value="Met Track & Trace" type="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="Met Track & Trace">Met Track & Trace (+ €4)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h3 id="title">Jouw bestelling</h3>
                            </div>
                        </div>
                        <div class="row">
                            <table class="center" style="width:90%">
                                <tr id="lines" class="header">
                                    <th></th>
                                    <th><h6>Product</h6></th>
                                    <th><h6>Prijs</h6></th>
                                    <th><h6>Totaal</h6></th>
                                </tr>
                                {% for item in normalproducts %}
                                    <tr>
                                        <td class='alnleft'>
                                            <a href="{% url 'product' item.product.name %}">
                                                <img src="{% static item.product.image.first.image.url %}" width="80px">
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{% url 'product' item.product.name %}">{{ item.product.name }}</a>
                                        </td>
                                        <td>
                                            {{ item.quantity }} <img src="{% static 'images/Multiply.png' %}" width="20px"> €{{ item.product.price }}
                                        </td>
                                        <td>
                                            €{{ item.total }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {% for item in diyproducts %}
                                    <tr>
                                        <td class="alnleft">
                                            <a href="{% url 'diyproduct' item.id %}">
                                                <img src="{% static 'images/home1.jpg' %}" width="80px">
                                            </a>
                                        </td>
                                        <td>
                                            {{ item.customer.firstname }} DIY #{{ item.diyproduct.name }}
                                        </td>
                                        <td>
                                            {{ item.quantity }} <img src="{% static 'images/Multiply.png' %}" width="20px"> €{{ item.diyproduct.price }}
                                        </td>
                                        <td>
                                            €{{ item.total }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><h6>Subtotaal (incl. BTW)</h6></td>
                                    <td><h6>€{{ subtotal }}</h6></td>
                                </tr>
                                {% if freeshipping %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><h6>Subtotaal (incl. BTW)</h6></td>
                                    <td><h6>€{{ subtotal }}</h6></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><h5>Totaal (incl. BTW)</h5></td>
                                    <td><h5>€{{ subtotal }}</h5></td>
                                </tr>
                                {% endif %}
                            </table>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label>Opmerkingen</label>
                                    <textarea class="form-control" name="comments" rows="3" placeholder="Eventuele opmerkingen"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">       
                                <h3 id="title">Betaalwijze</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="iDeal" name="payment_option" value="iDeal" type="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="iDeal">iDeal</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input id="Mastercard" name="payment_option" value="Mastercard" type="radio" class="custom-control-input">
                                    <label class="custom-control-label" for="Mastercard">Mastercard</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col"> 
                                <button data-testid="add-to-cart-button-enabled" class="btn" id="buttonadd" type="submit">
                                    <span class="text" id="bestellingplaatsen">
                                        Bestelling plaatsen
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
    })()
    </script>

{% endblock %}