{% extends "webshop/layout.html" %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col" id="title">
                <h1 id="title">Contact</h1>
                <hr class="my-4">
            </div>
        </div>
        <div class="row" style="text-align: center;">
            <div class="col" id="bestelinfo">
                </p>Voor opmerkingen, complimenten, klachten, etc. kun je ons op de volgende manieren bereiken:</p>
                <p>Stuur een e-mail naar oleadabeads@gmail.com</p>
                <p>Stuur een privebericht naar @oleadabeads op Instagram!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}