{% extends "webshop/layout1.html" %}

{% block body %}
{% load static %}
        
    <div class="centered lg-header thin space-above">Contact informatie</div>
    <div class="information">
        Voor vragen, opmerkingen, etc. kan je ons een berichtje sturen via 
        <a href="https://www.instagram.com/oleadabeads/">@oleadabeads</a> op Instagram,
        <a href="https://www.facebook.com/OleadaBeads">Oleada Beads</a> op Facebook of ons e-mailadres oleadabeads@gmail.com.
    </div>
    <div class="last information">
        <div class="md-header thick space-below">Gegevens</div>
        <div class="legal-info">
            <div>Oleada Beads</div>
            <div>KvK-nummer: 82217769</div>
            <div>BTW-nummer: 862380315B01</div>
            <div>Rekeningnummer: NL69INGB0009016577</div>
            <div>Adres: Sibogastraat 85, 1094SL Amsterdam</div>
        </div>
    </div>

{% endblock %}