{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
        
    <div class="body-wrapper">
        <div class="row contact-list">
            <div class="col">
                <p class="statement">Contact informatie</p>
                <p>Voor opmerkingen, complimenten, klachten, etc. kun je ons op de volgende manieren bereiken:</p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg> 
                    Stuur een e-mail naar oleadabeads@gmail.com
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg> 
                    Stuur een privébericht naar @oleadabeads op Instagram
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg> 
                    Stuur een privébericht naar Oleada Beads op Facebook
                </p>
            </div>
        </div>
        <div class="row contact-list">
            <div class="col">
                <p class="big-text">Gegevens</p>
                <p>Oleada Beads</p>
                <p>KvK-nummer: 82217769</p>
                <p>BTW-nummer: 862380315B01</p>
                <p>Rekeningnummer: NL69INGB0009016577</p>
                <p>Adres: Sibogastraat 85, 1094SL Amsterdam</p>
            </div>
        </div>
    </div>

{% endblock %}