{% extends "webshop/layout.html" %}

{% block body %}
<div class="main" id="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 id="title">Disclaimer</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>
                    Op het gebruik van deze website (www.oleadabeads.nl) zijn onderstaande gebruiksvoorwaarden van toepassing. Door gebruik te maken van deze website, wordt u geacht kennis te hebben genomen van de gebruiksvoorwaarden en deze te hebben aanvaard.
                </p>

                <br>
                <p id="terms">Gebruik van informatie</p>
                <p>
                    Oleada Beads streeft ernaar op deze website altijd juiste en actuele informatie aan te bieden. Hoewel deze informatie met de grootst mogelijke zorgvuldigheid is samengesteld, staat Oleada Beads niet in voor de volledigheid, juistheid of actualiteit van de informatie. De juridische informatie op de website is van algemene aard en kan niet worden beschouwd als een vervanging van juridisch advies.
                </p>
                <p>
                    Aan de informatie kunnen geen rechten worden ontleend. Oleada Beads aanvaardt geen aansprakelijkheid voor schade die voortvloeit uit het gebruik van de informatie of de website en evenmin voor het niet goed functioneren van de website.
                </p>
                <p>
                    Op basis van het verzenden en ontvangen van informatie via de website of via e-mail kan niet zonder meer een relatie tussen Oleada Beads en de gebruiker van de website ontstaan.
                </p>

                <br>
                <p id="terms">E-mail</p>
                <p>
                    Oleada Beads garandeert niet dat aan haar gezonden e-mails (tijdig) worden ontvangen of verwerkt, omdat tijdige ontvangst van e-mails niet kan worden gegarandeerd. Ook de veiligheid van het e-mailverkeer kan niet volledig worden gegarandeerd door de hieraan verbonden veiligheidsrisico’s. Door zonder encryptie of wachtwoordbeveiliging per e-mail met Oleada Beads te corresponderen, accepteert u dit risico.
                </p>

                <br>
                <p id="terms">Hyperlinks</p>
                <p>
                    Deze website kan hyperlinks bevatten naar websites van derden. Oleada Beads heeft geen invloed op websites van derden en is niet verantwoordelijk voor de beschikbaarheid of inhoud daarvan. Oleada Beads aanvaardt dan ook geen aansprakelijkheid voor schade die voortvloeit uit het gebruik van websites van derden.
                </p>

                <br>
                <p id="terms">Intellectuele eigendomsrechten</p>
                <p>
                    Alle publicaties en uitingen van Oleada Beads zijn beschermd door auteursrecht en andere intellectuele eigendomsrechten. Behalve voor persoonlijk en niet commercieel gebruik, mag niets uit deze publicaties en uitingen op welke manier dan ook verveelvoudigd, gekopieerd of op een andere manier openbaar worden gemaakt, zonder dat Oleada Beads daar vooraf schriftelijke toestemming voor heeft gegeven. 
                </p>

            </div>
        </div>
    </div>
</div>
{% endblock %}