{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="title">
                    <h1>Stel je eigen sieraad samen!</h1>
                    <hr class="my-4">
                </div>
            </div> 
        </div>
        <div class="row align-items-center">
            <div class="col" id="coll">
                <img src="{% static 'images/DIY_inspo.jpeg' %}" id="diypic">
                <p>Aan de hand van je gekozen voorkeuren verandert de prijs.
                Het standaardtarief voor het samenstellen is €5,00. Een ketting kost €2,00 meer.
                Bij het kiezen van een schakelketting komt er een bedrag van €1,50 bij.
                Edelstenen kosten €1,50 en parels €1,00 meer.
                Kies je voor een gouden sieraad? Dan komt er nog een extra €0,50 bij, aangezien wij verguld gouden slotjes gebruiken.
                Zo gaat het sieraad langer mee!<p>
            </div>
            <div class="col" id="coll">
                <p>Op deze pagina kan je je voorkeuren doorgeven.
                Aan de hand van jouw voorkeuren maken wij een uniek product speciaal voor jou!
                Kies welke kleuren je leuk vindt, wat voor soort sieraad en of je goud of zilver wil, en wij maken het!</p>
                <form action="{% url 'diy' %}" method="post">
                    {% csrf_token %}
                    <label for="exampleFormControlSelect1">Wat voor type sieraad vind jij mooi?</label>
                    <select class="form-control" name="jewelrytype" placeholder="Type sieraad">
                        <option>Armband</option>
                        <option>Ketting (+ €2,00)</option>
                    </select><br>
                    <label for="exampleFormControlSelect1">Wat voor soort sieraad vind jij leuk?</label>
                    <select class="form-control" name="look" placeholder="Soort" id="exampleFormControlSelect1">
                        <option>Kralen</option>
                        <option>Schakelketting (+ €1,50)</option>
                    </select><br>
                    <label for="exampleFormControlSelect2">Welke kleuren wil je in het sieraad verwerkt hebben?</label>
                    <label><p style="font-size:10px;" >Houd 'control' of 'command' ingedrukt om meer dan 1 kleur te selecteren.</p></label>
                    <select multiple class="form-control" multiple="multiple" id="color" name="color[]" placeholder="Kleuren">
                        <option>Roze</option>
                        <option>Rood</option>
                        <option>Blauw</option>
                        <option>Paars</option>
                        <option>Edelsteen (+ €1,50)</option>
                        <option>Parel (+ €1,00)</option>
                        <option>Wit</option>
                        <option>Oranje</option>
                        <option>Beige</option>
                    </select><br>
                    <label for="exampleFormControlSelect1">Goud of zilver?</label>
                    <select class="form-control" name="metaltype" placeholder="Metaal">
                        <option>Goud (+ €0,50)</option>
                        <option>Zilver</option>
                    </select><br>
                    <div class="row" id="buttonadding">
                        <button data-testid="add-to-cart-button-enabled" class="btn" id="buttonadd" type="submit" name="addtocart">
                            <p></p>
                            <span class="text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" style="margin-right: 10px;" height="16" fill="currentColor" class="bi bi-bag-fill" viewBox="0 0 16 16">
                                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5z"/>
                                </svg> 
                                In winkelmand
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}