{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
<div class="main" id="content">
    <div class="container"> 
        <div class="row">
            <div class="col">
                <h3 id="title">Stel je eigen sieraad samen!</h3>
            </div> 
        </div>
        <div class="row align-items-start" class="center">
            <div class="col" id="coll">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="{% static 'images/home1.jpg' %}" id="diypic">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'images/home2.jpg' %}" id="diypic">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'images/home3.jpg' %}" id="diypic">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="{% static 'images/home5.jpg' %}" id="diypic">
                        </div>
                    </div>
                </div>
                <!-- <img src="{% static 'images/DIY_inspo.jpeg' %}" id="diypic"> -->
                <p>Aan de hand van je gekozen voorkeuren verandert de prijs.
                Het standaardtarief voor het samenstellen is €5,00. Een ketting kost €2,00 meer.
                Bij het kiezen van een schakelketting komt er een bedrag van €1,50 bij.
                Edelstenen kosten €1,50 en parels €1,00 meer.
                Kies je voor een gouden sieraad? Dan komt er nog een extra €0,50 bij, aangezien wij verguld gouden slotjes gebruiken.
                Zo gaat het sieraad langer mee!<p>
            </div>
            <div class="col" id="coll">
                <p>Op deze pagina kan je je voorkeuren doorgeven.
                Aan de hand van jouw voorkeuren maken wij een uniek product speciaal voor jou!
                Kies welke kleuren je leuk vindt, wat voor soort sieraad en of je goud of zilver wil, en wij maken het!</p>
                <form action="{% url 'diy' %}" method="post">
                    {% csrf_token %}
                    <label>Wat voor type sieraad vind jij mooi?</label>
                    <select class="form-control" name="jewelrytype" placeholder="Type sieraad">
                        <option>Armband</option>
                        <option>Ketting (+ €2,00)</option>
                    </select><br>
                    <labe>Wat voor soort sieraad vind jij leuk?</label>
                    <select class="form-control" name="look" placeholder="Soort">
                        <option>Kralen</option>
                        <option>Schakelketting (+ €1,50)</option>
                    </select><br>
                    <label>Welke kleuren wil je in het sieraad verwerkt hebben?</label>
                    <label><p style="font-size:10px;">Je kan meerdere kleuren aanklikken.</p></label>
                    <select multiple class="form-control" multiple="multiple" id="color" name="color[]" placeholder="Kleuren">
                        <option>Roze</option>
                        <option>Rood</option>
                        <option>Blauw</option>
                        <option>Paars</option>
                        <option>Edelsteen (+ €1,50)</option>
                        <option>Parel (+ €1,00)</option>
                        <option>Wit</option>
                        <option>Oranje</option>
                        <option>Beige</option>
                    </select><br>
                    <label>Goud of zilver?</label>
                    <select class="form-control" name="metaltype" placeholder="Metaal">
                        <option>Goud (+ €0,50)</option>
                        <option>Zilver</option>
                    </select><br>
                    <div class="row" id="buttonadding">
                        <button data-testid="add-to-cart-button-enabled" class="btn" id="buttonadd" type="submit" name="addtocart">
                            <p></p>
                            <span class="text">
                                <img src="{% static 'images/Shopper.png' %}" height="20px">
                                In winkelmand
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}