{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="row contact-list">
            <div class="col">
                <p class="statement">Garantie</p>
                <p>Sieraden van Oleada Beads hebben twee maanden garantie vanaf de dag waarop de bestelling is geplaatst.
                In de volgende gevallen heb je geen recht op garantie:</p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg>
                    natuurlijke slijtage
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg>
                    vlekken veroorzaakt door parfum
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg>
                    beschadiging van kralen of ander materiaal na contact met water
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg>
                    het afgeven van kralen of ander materiaal na contact met water
                </p>
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-record-fill contact" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z"/>
                    </svg>
                    klachten die zijn ontstaan na verkeerd gebruik van de sieraden
                </p>

                <p>Alle producten worden handgemaakt met natuurlijke materialen en kunnen hierdoor iets afwijken van de afbeeldingen op onze website.</p>
            </div>
        </div>
    </div>

{% endblock %}