{% extends "webshop/layout.html" %}

{% block body %}
<div class="main" id="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 id="title">Garantie</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Sieraden van Oleada Beads hebben twee maanden garantie vanaf de dag waarop de bestelling is geplaatst.
                In de volgende gevallen heb je geen recht op garantie:</p>
                <p>
                    - natuurlijke slijtage
                </p>
                <p>
                    - vlekken veroorzaakt door parfum
                </p>
                <p>
                    - beschadiging van kralen of ander materiaal na contact met water
                </p>
                <p>
                    - het afgeven van kralen of ander materiaal na contact met water
                </p>
                <p>
                    - klachten die zijn ontstaan na verkeerd gebruik van de sieraden
                </p>

                <p>Alle producten worden handgemaakt met natuurlijke materialen en kunnen hierdoor iets afwijken van de afbeeldingen op onze website.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}