{% extends "webshop/layout1.html" %}

{% block body %}
{% load static %}
    
    <div class="centered lg-header thin space-above">Garantie</div>  
    <div class="information">
        <div>
            ieraden van Oleada Beads hebben twee maanden garantie vanaf de dag waarop de bestelling is geplaatst.
            In de volgende gevallen heb je geen recht op garantie: <br>
            - natuurlijke slijtage <br>
            - vlekken veroorzaakt door parfum <br>
            - beschadiging van kralen of ander materiaal na contact met water <br>
            - het afgeven van kralen of ander materiaal na contact met water <br>
            - klachten die zijn ontstaan na verkeerd gebruik van de sieraden
        </div>
        <div class="space-above last">
            Alle producten worden handgemaakt met natuurlijke materialen en kunnen hierdoor iets afwijken van de afbeeldingen op onze website.
        </div>
    </div>

{% endblock %}