{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="home-wrapper">
        <div class="row home-introduction">
            <div class="col home-overlapping-pictures">
                <div class="home-surfers-image">
                    <img src="{% static 'images/Home-Surfers.jpeg' %}" class="surfers-image">
                </div>
                <div class="home-us">
                    <img src="{% static 'images/Home-About-Us.JPG' %}" class="about-us">
                </div>
            </div>
            <div class="col home-text-about-us">
                <p class="big-text">Cleo & Emmelien</p>
                <p class="about-us-text statement">The girls behind the brand</p>
                <p>
                    Wij zijn beste vriendinnen die er tijdens de lockdown een hobby bij hebben gekregen: kralen.
                </p>
                <p>Hopelijk zien we je terug in de webshop. Happy shopping!</p>
            </div>
        </div>
        <div class="row home-products">
            <div class="col-2 vertical-text statement">
                <p>Shop the latest</p>
            </div>
            <div class="col products">
                {% for item in newitems %}
                    <div class="product-box">
                        <a href="{% url 'product' item.name %}">
                            <img class="product-image" src="{% static item.image.first.image.url %}">
                            <div class="product-info">
                                {{ item.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row home-explanation">
            <div class="col more-about-us">
                <p class="big-text">Met liefde handgemaakt</p>
                <p class="statement">
                    Support your local 
                    <p class="small-text statement">girlbosses</p>
                </p>
                <p>
                    Sinds groep één zijn wij al beste vriendinnen!
                </p>
                <p>
                    Sieraden maken is voor ons de ultieme self-care, even lekker niks aan ons hoofd en gewoon gezellig samen zijn.
                </p>
                <p>
                    We zijn continu op zoek naar de beste materialen: 14/24kt goud, stainless steel, mooie edelstenen, Miyuki kralen, noem maar op.
                    Daarmee gaan onze sieraden lang mee!
                </p>
                <a href="#">
                    <button class="btn">Leer ons kennen</button>
                </a>
            </div>
            <div class="col more-pictures-overlapping">
                <div class="home-picture-wearing-it">
                    <img src="{% static 'images/Home-Eden.JPG' %}" class="wearing-it">
                </div>
                <div class="home-picture-background">
                    <img src="{% static 'images/Home-PalmTrees3.jpeg' %}" class="background">
                </div>
            </div>
        </div>
        <div class="row home-categories">
            <div class="col">
                <div class="row image-categories">
                    <img src="{% static 'images/Home-Armbanden.jpg' %}">
                    <img src="{% static 'images/Home-Kettingen.jpg' %}">
                    <img src="{% static 'images/Home-Oorbellen.jpg' %}">
                </div>
                <div class="row button-categories">
                    <button class="btn bracelet-btn">Shop<br>Armbanden</button>
                    <button class="btn">Shop<br>Kettingen</button>
                    <button class="btn earring-btn">Shop<br>Oorbellen</button>
                </div>
            </div>
        </div>
        <div class="row instagram">
            <p class="insta statement">@oleadabeads</p>
        </div>
        <div class="home-instagram-images">
            <img src="{% static 'images/Home-1.png' %}">
            <img src="{% static 'images/Home-2.png' %}">
            <img src="{% static 'images/Home-3.png' %}">
            <img src="{% static 'images/Home-4.png' %}">
            <img src="{% static 'images/Home-5.png' %}">
        </div>
    </div>

{% endblock %}