{% extends "webshop/layout1.html" %}

{% block body %}
{% load static %}

<div class="headline centered">
    <p class="md-header thin">
        Trendy sieraden, met liefde handgemaakt
    </p>
    <p class="lg-size">
        "It's OK to be a little obsessed with jewelry"
    </p>
</div>
<div class="categories">
    <div class="dark-overlay">
        <img src="{% static 'images/Home-Kettingen.jpg' %}">
        <p class="white-text overlay-text centered">Kettingen</p>
    </div>
    <div class="dark-overlay">
        <img src="{% static 'images/Home-Oorbellen.jpg' %}">
        <p class="white-text overlay-text centered">Oorbellen</p>
    </div>
    <div class="dark-overlay">
        <img src="{% static 'images/Home-Armbanden.jpg' %}">
        <p class="white-text overlay-text centered">Armbanden</p>
    </div>
</div>
<div class="story pink-div">
    <p class="md-header thick dark-text centered space-below">
        Ons verhaal
    </p>
    <p class="md-size centered">
        Wij zijn twee beste vriendinnen met een passie voor creativiteit. Samen ontwerpen en maken we oorbellen, armbanden en kettingen met het idee dat andere meiden net zo veel van onze sieraden kunnen genieten. 
    </p>
    <p class="md-size centered">
        Wij zijn altijd op zoek naar unieke edelstenen, kleuren en materialen. Op die manier bieden wij sieraden met zorg gemaakt en van hoge kwaliteit!
    </p>
</div>
{% if new %}
    <div class="new-products blue-div centered">
        <div class="md-header thin space-below">
            Shop the latest
        </div>
        <div class="latest-products">
            {% for product in new_products %}
                <div class="latest-product centered">
                    {% for img in product.image.all %}
                        {% if img.first_item %}
                            <img class="sm-photo" src="{% static img.image.url %}">
                        {% endif %}
                    {% endfor %}
                    <p class="space-above">
                        {{ product.name }} <br>
                        €{{ product.price }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %}
<div class="about">
    <div class="about-text">
        <p class="md-header thin space-below">
            Over ons
        </p>
        <p class="md-size">
            Wij zijn beste vriendinnen die er tijdens de lockdown een hobby bij hebben gekregen: kralen. 
            Sieraden maken is voor ons de ultieme self-care, even lekker niks aan ons hoofd en gewoon gezellig samen zijn.
        </p>
        <p class="md-size space-below">
            Wij kennen elkaar inmiddels bijna 20 jaar en hebben veel meegemaakt. 
            Ondanks dat we allebei een andere studierichting hebben gekozen, hebben we elkaar in de creativiteit gevonden. 
        </p>
        <button class="btn-blue space-above">
            Leer ons kennen
        </button>
    </div>
    <div class="about-image">
        <img src="{% static 'images/Home-Eden.JPG' %}" class="lg-photo">
    </div>
</div>
<div class="instagram">
    <div class="md-header thick dark-text centered space-below">
        @oleadabeads
    </div>
    <div class="instagram-pictures">
        <img src="{% static 'images/Home-1.png' %}" class="md-photo-square">
        <img src="{% static 'images/Home-2.png' %}" class="md-photo-square">
        <img src="{% static 'images/Home-3.png' %}" class="md-photo-square">
        <img src="{% static 'images/Home-4.png' %}" class="md-photo-square">
        <img src="{% static 'images/Home-5.png' %}" class="md-photo-square">
    </div>
</div>

{% endblock %}