{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
<div class="main">
    <div class="container"> 
        <div class="row align-items-center">
            <div class="col" style="text-align: center; margin-top:10px;">
                <img src="{% static 'images/home.jpeg' %}" id="home">
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col" style="text-align: center;">
                <p>
                    Oleada Beads is in april 2020 begonnen door twee vriendinnen, Cleo en Emmelien.
                    Wij vinden het super leuk om creatief bezig te zijn, en samen kralen is natuurlijk ook gewoon heel gezellig!
                    Al onze producten zijn handgemaakt met alleen gold/silver plated of rvs materialen.
                    Happy shopping!
                </p>
            </div>
        </div>
        {% if best %}
            <div class="row align-items-center" id="wrapp">
                {% for product in bestsellers %}
                    <div id="product">
                        <a href="{% url 'product' product.name %}">
                            <img src="{% static product.image.first.image.url %}" height="320px">
                            <p>
                                {{ product.name }}
                                €{{ product.price }}
                            </p>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col" id="continuecheckout">
                    <a href="{% url 'allproducts' 'bestsellers'%}">
                        <button class="btn" id="bestelling" type="button">Alle bestsellers</button>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}