{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="row">
            <div class="col">
                <h3 id="title">Verzenden & Retourneren</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Verzenden</h5>
                <p>Wij verzenden onze pakketjes met PostNL en ze passen allemaal door de brievenbus. </p>
                <p>Verzendkosten binnen Nederland bedragen €2 (zonder Track & Trace) of €4 (met Track & Trace)</p>
                <p>Bij besteding van €35 of meer is verzending gratis.</p>
                <p>Alle bestellingen die voor 16:00 uur worden geplaatst worden diezelfde dag nog in behandeling genomen.</p>
                
                <h5>Retourneren</h5>
                <p>Wij hopen uiteraard dat uw aankoop naar wens is, mocht er toch iets niet naar wens zijn, dan is retourneren mogelijk binnen 14 dagen na ontvangst van de bestelling.</p>
                <p id="terms">
                    Om een product te retourneren, dient u voorafgaand aan de retourzending de volgende informatie te sturen per e-mail:
                </p>
                <p id="terms"> 
                    - het ordernummer
                </p>
                <p id="terms">
                    - het product dat u retour stuurt
                </p>
                <p id="terms">
                    - de reden van retour
                </p>
                <p id="terms">
                    Let op: deze email is noodzakelijk om het retourproces uit te kunnen voeren, retour pakketjes zonder aanmelding of begeleidend schrijven kunnen niet in behandeling genomen worden.
                </p>

                <p>
                    Retouradres:
                </p>

                <p>
                    Oleada Beads t.a.v. Retouren
                    Sibogastraat 85, 1094SL Amsterdam
                </p>
                <p>
                    Het product dient ongebruikt en onbeschadigd te zijn, 'wanneer redelijkerwijs mogelijk' in de originele verpakking verpakt te zijn en in deugdelijke verpakking te worden geretourneerd.
                </p>
                <p>
                    Een retourzending geschiedt op eigen risico. De verzendkosten zijn voor uw rekening en La Tarifa is niet aansprakelijk voor het beschadigen of zoekraken van retour gestuurde producten. We adviseren daarom in ieder geval met track & trace te verzenden en het verzendbewijs te bewaren totdat u van ons een retourbevestiging heeft ontvangen. Indien het vermoeden bestaat dat retour gezonden artikelen gebruikt of beschadidigd zijn door koper behouden wij het recht deze artikelen te weigeren.
                </p>
                <p>
                    Het aankoopbedrag van het artikel wordt binnen een termijn van 5 werkdagen teruggestort.
                </p>
                <p>
                    Het is niet mogelijk producten in de sale te retourneren.
                </p>
            </div>
        </div>
    </div>

{% endblock %}