{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'webshop/styles.css' %}" rel="stylesheet" type="text/css" title="Default Styles" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="static/webshop/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@100;300;600&display=swap" rel="stylesheet">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}Oleada Beads{% endblock %}</title>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
        {% block head %}
        {% endblock %}

    </head>
    
    <body>
        <div class="topbar">
            Gratis verzenden bij orders vanaf €35!
        </div>
        <div class="sticky-top">
            <div class="header-logo">
                <a href="{% url 'home' %}">Oleada Beads</a>
            </div>
            <nav class="navbar navbar-expand-xl">
                <div id="mySidebar" class="sidebar">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> 
                    <a href="{% url 'allproducts' 'nieuw' %}">Nieuw</a>
                    <a href="{% url 'allproducts' 'bestsellers' %}">Bestsellers</a>
                    <a href="{% url 'allproducts' 'kettingen'%}">Kettingen</a>
                    <a href="{% url 'allproducts' 'armbanden'%}">Armbanden</a>
                    <a href="{% url 'allproducts' 'oorbellen'%}">Oorbellen</a>
                    <a href="{% url 'allproducts' 'hangers'%}">Hangers</a>
                    <a href="{% url 'allproducts' 'limitededitions'%}">Limited Editions</a>
                    <a href="{% url 'diy' %}">DIY</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' %}" style="font-size: 14px; text-decoration: 2px underline pink; text-transform: lowercase;">Mijn account</a>
                        <a href="{% url 'logout' %}" style="font-size: 14px; text-decoration: 2px underline pink; text-transform: lowercase;">Log uit</a>
                    {% else %}
                        <a href="{% url 'login' %}" style="font-size: 14px; text-decoration: 2px underline pink; text-transform: lowercase;">Log in</a>
                    {% endif %}
                </div>
                <button class="openbtn" onclick="openNav()">&#9776;</button>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav flex-fill justify-content-center">
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'nieuw' %}">Nieuw</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'bestsellers' %}">Bestsellers</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'kettingen' %}">Kettingen</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'armbanden' %}">Armbanden</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'oorbellen' %}">Oorbellen</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'hangers' %}">Hangers</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'allproducts' 'limitededitions' %}">Limited Editions</a>
                        </li>
                        <li class="nav-item px-2">
                            <a class="nav-link" href="{% url 'diy' %}">DIY</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a href="{% url 'profile' %}"><img src="{% static 'images/Account.png' %}" class="account-icon"></a>
                    <a href="{% url 'cart' %}">
                        <img src="{% static 'images/Shopper.png' %}" class="shopper-icon">
                        <span class="badge badge-dark badge-pill">{{ cartnumber }}</span>
                    </a>
                </div>
            </nav>
        </div>

        <div class="body-wrapper">
            {% block body %}
            {% endblock %}
        </div>

        <footer class="footer">
            <div class="row">
                <div class="col">
                    <div class="upper">Informatie</div>
                    <div class="tiny"><a href="{% url 'info' %}">Verzenden en retourneren</a></div>
                    <div class="tiny"><a href="{% url 'guarantee' %}">Garantie</a></div>
                    <div class="tiny"><a href="{% url 'termsconditions' %}">Algemene voorwaarden</a></div>
                    <div class="tiny"><a href="{% url 'privacypolicy' %}">Privacy verklaring</a></div>
                    <div class="tiny"><a href="{% url 'disclaimer' %}">Disclaimer</a></div>
                </div>
                <div class="col">
                    <div class="upper">Over ons</div>
                    <div class="tiny">Oleada Beads</div>
                    <div class="tiny">KvK-nummer: 82217769</div>
                    <div class="tiny"><a href="{% url 'about'%}">Wie zijn wij?</a></div>
                    <div class="tiny"><a href="{% url 'contact' %}">Contact</a></div>
                    <div class="tiny"><a href="{% url 'material' %}">Materialen</a></div>
                </div>
                <div class="col">
                    <div class="upper">Socials</div>
                    <div class="tiny"><a href="https://www.instagram.com/oleadabeads/"><img src="{% static 'images/insta.png' %}" height="20" style="padding-right:3px;"> Instagram: @oleadabeads</a></div>
                    <div class="tiny"><a href="https://www.facebook.com/OleadaBeads"><img src="{% static 'images/facebook.png' %}" height="20" style="padding-right:3px;"> Facebook: OleadaBeads</a></div>
                    <div class="tiny"><a href="https://www.tiktok.com/@oleadabeads"><img src="{% static 'images/tiktok_logo.png' %}" height="20" style="padding-right:3px;"> TikTok: @oleadabeads</a></div>
                </div>
            </div>
        </footer>

        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "100%";
                document.getElementById("main").style.marginLeft = "100%";
            }

                /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    
    </body>

</html>