{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="{% static 'webshop/styles.css' %}" rel="stylesheet" type="text/css" title="Default Styles" media="screen">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="static/webshop/favicon.ico">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Raleway:wght@100;300;600&display=swap" rel="stylesheet">
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}Oleada Beads{% endblock %}</title>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.3.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    
        {% block head %}
        {% endblock %}

    </head>
    
    <body>
        <div class="page-container">
            <div class="main" style="background-color: pink; text-align: center;">
                Gratis verzenden bij orders vanaf €35!
            </div>
            <div class="sticky-top" style="background-color: white;">
                <div id="topbar">
                    <div class="col" class="center" id="prof">
                        <a href="{% url 'home' %}" id="headlogo">
                            Oleada Beads
                        </a>
                    </div>
                </div>
                <nav class="navbar navbar-expand-xl">
                    <div id="mySidebar" style="color:#1a1919" class="sidebar">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="{% url 'allproducts' 'nieuw' %}">Nieuw ></a>
                        <a href="{% url 'allproducts' 'bestsellers' %}">Bestsellers ></a>
                        <a href="{% url 'allproducts' 'kettingen'%}">Kettingen ></a>
                        <a href="{% url 'allproducts' 'armbanden'%}">Armbanden ></a>
                        <a href="{% url 'allproducts' 'oorbellen'%}">Oorbellen ></a>
                        <a href="{% url 'allproducts' 'hangers'%}">Hangers ></a>
                        <a href="{% url 'allproducts' 'limitededitions'%}">Limited Editions ></a>
                        <a href="{% url 'diy' %}">DIY ></a>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Log uit</a>
                        {% endif %}
                    </div>
                    <button class="openbtn" onclick="openNav()">&#9776;</button>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav flex-fill justify-content-center">
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'nieuw' %}">Nieuw</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'bestsellers' %}">Bestsellers</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'kettingen' %}">Kettingen</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'armbanden' %}">Armbanden</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'oorbellen' %}">Oorbellen</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'hangers' %}">Hangers</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'allproducts' 'limitededitions' %}">Limited Editions</a>
                            </li>
                            <li class="nav-item px-2">
                                <a class="nav-link" href="{% url 'diy' %}">DIY</a>
                            </li>
                        </ul>
                    </div>
                    <div id="acc">
                        <a href="{% url 'profile' %}">
                            <img src="{% static 'images/Account.png' %}" style="color:#1a1919" width="20px">
                        </a>
                        <a href="{% url 'cart' %}">
                            <img src="{% static 'images/Shopper.png' %}" style="color:#1a1919" width="16px">
                            <span class="badge badge-dark badge-pill">{{ cartnumber }}</span>
                        </a>
                    </div>
                </nav>
            </div>

            <div id="content-wrap">
                {% block body %}
                {% endblock %}
            </div>

            <div id="footer">
                <div class="row" id="bottomrow">
                    <div class="col" id="bottominfo">
                        <p id="bottom">Informatie</p>
                        <p><a href="{% url 'info' %}">Verzenden en retourneren</a></p>
                        <p><a href="{% url 'guarantee' %}">Garantie</a></p>
                        <p><a href="{% url 'termsconditions' %}">Algemene voorwaarden</a></p>
                        <p><a href="{% url 'privacypolicy' %}">Privacy verklaring</a></p>
                        <p><a href="{% url 'disclaimer' %}">Disclaimer</a></p>
                    </div>
                    <div class="col" id="bottominfo">
                        <p id="bottom">Over ons</p>
                        <p>Oleada Beads</p>
                        <p>KvK-nummer: 82217769</p>
                        <p><a href="{% url 'about'%}">Wie zijn wij?</a></p>
                        <p><a href="{% url 'contact' %}">Contact</a></p>
                        <p><a href="{% url 'material' %}">Materialen</a></p>
                    </div>
                    <div class="col" id="bottominfo">
                        <p id="bottom">Socials</p>
                        <p><a href="https://www.instagram.com/oleadabeads/"><img src="{% static 'images/insta.png' %}" height="20" style="padding-right:3px;"> Instagram: @oleadabeads</a></p>
                        <p><a href="https://www.facebook.com/OleadaBeads"><img src="{% static 'images/facebook.png' %}" height="20" style="padding-right:3px;"> Facebook: OleadaBeads</a></p>
                        <p><a href="https://www.tiktok.com/@oleadabeads"><img src="{% static 'images/tiktok_logo.png' %}" height="20" style="padding-right:3px;"> TikTok: @oleadabeads</a></p>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function openNav() {
                document.getElementById("mySidebar").style.width = "450px";
                document.getElementById("main").style.marginLeft = "450px";
            }

                /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
            function closeNav() {
                document.getElementById("mySidebar").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>
    
    </body>

</html>