{% extends "webshop/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="title">
                    <h3>Log in</h3>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn" type="submit" id="buttonadd" id="submit">
                        <span class="text" id="bestellingplaatsen">
                            Login
                        </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col d-flex justify-content-center">
                <p>Heb je nog geen account? <a href="{% url 'register' %}" id="reg">Registreer hier</a>.</p>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col d-flex justify-content-center">
                <p><a href="{% url 'reset_password'%}" id="reg">Wachtwoord vergeten?</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}