{% extends "webshop/layout.html" %}

{% block body %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                {% if message %}
                    <div>{{ message }}</div>
                {% endif %}
            </div>
            <div class="col"></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="title">
                    <h1>Log in</h1>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-6">
                <div class="jumbotron" id="jumbo">
                    <div>
                        <form action="{% url 'login' %}" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-outline-dark" type="submit" id="submit">Login</button>
                        </form>
                    </div>
                    <br>
                    <div>
                        <p>Heb je nog geen account? <a href="{% url 'register' %}"><strong>Registreer hier.</strong></a></p>
                    </div>
                    <div>
                        <p><a href="{% url 'reset_password'%}">Wachtwoord vergeten?</a></p>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>
{% endblock %}