{% extends "webshop/layout.html" %}

{% load crispy_forms_tags %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="row">
            <div class="col register-title">
                <p class="underline-statement statement">Inloggen</p>
            </div>
        </div>
        <div class="row register-form">
            <div class="col-6">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn" type="submit">
                        Inloggen
                    </button>
                </form>
            </div>
        </div>
        <div class="row register-last-row">
            <div class="col already-account">
                <p>Heb je nog geen account? <a class="underline-statement" href="{% url 'register' %}">Registreer hier</a>.</p>
            </div>
        </div>
        <div class="row">
            <div class="col already-account">
                <p><a class="underline-statement" href="{% url 'reset_password'%}">Wachtwoord vergeten?</a></p>
            </div>
        </div>
    </div>

{% endblock %}