{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="row material-information">
            <div class="col">
                <p class="statement">Materialen</p>
                <p class="big-text material-title">Edelmetalen</p>
                <p class="bold material">Zilver en goud</p>
                <p>
                    De meest bekende metalen zijn natuurlijk goud en zilver ofwel edelmetalen. Maar sieraden van puur goud of zilver zul je eigenlijk bijna nooit tegenkomen. Puur zilver en goud is namelijk zacht en buigzaam en daardoor niet sterk genoeg voor het maken van sieraden. Daarom worden ze voor het maken van sieraden altijd gemengd met een harder metaal.
                </p>
                <p class="material">
                    Als voorbeeld nemen we 925 sterling silver. Dit is de hoogste kwaliteit zilver voor sieraden en bestaat voor 92.5% uit zilver en in de meeste gevallen voor 7.5% uit koper. Vaak zie je ook dat het nummer 925 ergens op het sieraad is gestempeld.
                </p>
                <p class="material">
                    Bij goud spreken we ook wel van karaat. Hoe hoger de karaat hoe hoger het goud gehalte in het sieraad. In Nederland wordt vooral 14 karaat (58,5% zuiver goud, gestempeld met nummer 585) tot 18 karaat (75,0% zuiver goud, gestempeld met nummer 750) verkocht. In het Midden-Oosten en Azië wordt vaker goud van een hoger karaat verkocht. Dus gouden sieraden van 18, 20 en 22 karaat goud. Hoe hoger het karaat, hoe ‘dieper’ de goudkleur van een sieraad.
                </p>
                <p class="material">
                    Het voordeel van het dragen van edelmetalen is dat het zelden een allergie zal geven. Maar het grote nadeel is toch wel de hogere prijs en dan vooral de prijs van goud.
                </p>

                <p class="bold material">Verkleuring van zilveren en gouden sieraden</p>
                <p>
                    Vooral zilver heeft een grote kans op verkleuring. Vaak wordt er dan onterecht gedacht dat het sieraad niet van echt zilver is gemaakt maar eigenlijk betekent het juist het tegenovergestelde.
                </p>
                <p class="material">
                    Echt zilver wordt na verloop van tijd wat doffer en minder glimmend en krijgt een wat bruine/zwarte kleur van licht en lucht. Dit proces heet oxideren en kun je niet tegen gaan. Het is wel snel en gemakkelijk op te lossen door je sieraden eens op te poetsen met een zilverpoetsdoek. Hierdoor zullen je sieraden weer prachtig gaan glimmen.
                </p>
                <p class="material">
                    Het kan geen kwaad om je zilveren of gouden sieraden onder de douche te dragen zolang je maar geen shampoo etc. gebruikt. Laat je sieraden ook niet in aanraking komen met bodylotion, parfum en andere verzorgings-, of schoonmaakproducten. In de zee of in het zwembad kunt je je sieraden het beste af doen. Door het chloor en het zout kunnen uw sieraden kapot gaan en/of verkleuren.
                </p>

                <p class="big-text material-title">Onedel metalen</p>
                <p class="bold material">Silver plated en gold plated</p>
                <p>
                    Dit zijn sieraden die vaak gemaakt zijn van onedel metaal met een dun laagje zilver of goud eroverheen. Maar het komt ook veel voor dat een echt zilveren sieraad verguld word met een laagje goud eroverheen, dit zijn dus wel sieraden van edelmetaal en zijn dan ook van een veel hogere kwaliteit dan vergulde sieraden van onedel metaal.
                </p>
                <p class="material">
                    Verzilverde en vergulde sieraden gemaakt van massief zilver kun je herkennen aan het 925 keurmerk op het sieraad. Dit keurmerk vind je niet in verzilverde en vergulde sieraden gemaakt van onedel metalen.
                </p>
                <p class="material">
                    De term ‘plated’ komt van de techniek die voor deze sieraden wordt gebruikt namelijk: electroplating. Door middel van stroom blijft het zilveren of gouden laagje hechten aan het metaal. Een voorbeeld hiervan is een sieraad gemaakt van zilver of koper met een laagje goud erover heen. Dit noemen we goldplated, of verguld. Een zilveren of koperen sieraad met een laagje zilver noemen we silverplated, of verzilverd.
                </p>
                <p class="material">
                    Ook wordt Zinc Alloy tegenwoordig veel gebruikt voor silver- of goldplated sieraden. Dit materiaal kun je vergelijken met roestvrijstaal (RVS) en is hard, sterk, slijtvast en glimt je tegemoet.
                </p>

                
                <p class="bold material">Verkleuring van silver plated en gold plated sieraden</p>
                <p>
                    Verzilverde of vergulde sieraden blijven, in tegenstelling tot zilver of gouden sieraden, niet je hele leven mooi. Het laagje zilver of goud bij plated sieraden kan er, afhankelijk van de zuurgraad van je huid en door invloeden van buitenaf, uiteindelijk wel afslijten. Het kan soms ook voorkomen dat een plated sieraad groen uitslaat. Dit heeft te maken met de zuurgraad van je huid en kan per persoon verschillen. Je kunt het sieraad dan weer schoon krijgen door het heel voorzichtig met lauwwarm water en een zachte doek op te poetsen.
                </p>
                <p class="material">
                    Voor het langste behoud van plated sieraden is het beter om ze niet tijdens het douchen, zwemmen en sporten te dragen. Als het sieraad vaak in contact komt met water of een transpirerende huid, zal dit namelijk de plated laag zwart doen kleuren en aantasten of zelfs helemaal laten verdwijnen. Laat je plated sieraden ook niet in aanraking komen met bodylotion, parfum en andere verzorgings-, of schoonmaakproducten.
                </p>
                
                <p class="big-text material-title">Stainless steel (RVS)</p>
                <p class="material">
                    De Nederlandse omschrijving van stainless steel is ‘roestvrij staal’ ofwel RVS. Het is een erg hard materiaal, waardoor het niet snel zal vervormen en behoeft weinig tot geen onderhoud.
                </p>
                <p class="material">
                    De mooie glans (of mooi mat indien geborsteld) maakt het een ideaal materiaal voor vele toepassingen. Het stukje over verkleuring kunnen we bij RVS overslaan want het grote voordeel van RVS is dat het niet verkleurt en het allergievrij is.
                </p>
                <p class="material">
                    Anders dan veel mensen denken, kan RVS wel roesten als het veelvuldig in aanraking komt met water of chloor.
                </p>
            </div>
        </div>
    </div>

{% endblock %}