{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col" id="orderinfo" style="padding-bottom:20px;">
                <h4>Dankjewel voor je bestelling, {{ cust.firstname }}!</h4>
                <p>Samenvatting van bestelling #{{ order.id }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="padding-bottom:20px;">
                <h4 id="title">Samenvatting van bestelling #{{ order.id }}</h4>
            </div>
        </div>
        <div class="row" style="margin:0; padding:10px;">
            <div class="col" id="header">Product</div>
            <div class="col" id="header">Prijs</div>
            <div class="col" id="header">Totaal</div>
        </div>
        {% for item in order.orderproduct.all %}
            <div class="row" style="margin:0; padding:10px;">
                {% if item.product %}
                <div class="col" id="orderinfo">
                    <a href="{% url 'product' item.product.name %}">{{ item.product.name }}</a>
                </div>
                <div class="col" id="orderinfo">
                    {{ item.quantity }} <img src="{% static 'images/Multiply.png' %}" width="20px"> €{{ item.product.price }}
                </div>
                <div class="col" id="orderinfo">
                    €{{ item.total }}
                </div>
                {% endif %}
                {% if item.diyproduct %}
                    <div class="col" id="orderinfo">
                        {{ item.customer.firstname }} DIY #{{ item.diyproduct.name }}
                    </div>
                    <div class="col" id="orderinfo">
                        {{ item.quantity }} <img src="{% static 'images/Multiply.png' %}" width="20px"> €{{ item.diyproduct.price }}
                    </div>
                    <div class="col" id="orderinfo">
                        €{{ item.total }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="row" id="overline" style="margin:0; padding:10px;">
            <div class="col"></div>
            <div class="col" id="header">Totaal (incl. verzenden)</div>
            <div class="col" id="header">€{{ order.total }}</div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col" style="text-align:end; font-weight:600;">
                <p>Contactgegevens</p>
            </div>
            <div class="col">
                <p>{{ order.customer.firstname }} {{ order.customer.lastname }}</p>
                <p>{{ order.customer.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:end; font-weight:600;">
                <p>Factuuradres</p>
            </div>
            <div class="col">
                <p>{{ order.customer.streetname }} {{ order.customer.housenr }}</p>
                <p>{{ order.customer.postalcode }} {{ order.customer.city }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:end; font-weight:600;">
                <p>Status verzending</p>
            </div>
            <div class="col">
                <p>{{ order.status }}</p>
                {% if request.user.is_staff %}
                    <p><a href="{% url 'changestatus' order.id %}">Status aanpassen</a></p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:end; font-weight:600;">
                <p>Verzendmethode</p>
            </div>
            <div class="col">
                <p>{{ order.shipping }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:end; font-weight:600;">
                <p>Betaalwijze</p>
            </div>
            <div class="col">
                <p>{{ payment_option }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col" style="text-align:end; font-weight:600;">
                <p>Opmerkingen</p>
            </div>
            <div class="col">
                <p>{{ order.comment }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col text-right">
                <a href="{% url 'home' %}">
                    <button class="btn" id="buttonadd" type="button">
                        <span class="text" id="bestellingplaatsen">Ga terug naar de homepagina</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}