{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 id="title">Dankjewel voor je bestelling, {{ customer.firstname }}!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Samenvatting van je bestelling</h4>
                <p>Ordernummer {{ cart.id }}</p>
            </div>
        </div>
        <div class="row">
            <table class="center" style="width:90%">
                <tr id="lines" class="header">
                    <th></th>
                    <th><h6>Product</h6></th>
                    <th><h6>Prijs</h6></th>
                    <th></th>
                </tr>
                {% for item in normalproducts %}
                    <tr>
                        <td class='alnleft'>
                            <a href="{% url 'product' item.product.name %}">
                                <img src="{% static item.product.image.first.image.url %}" width="80px">
                            </a>
                        </td>
                        <td>
                            <tr>
                                <td>
                                    <a href="{% url 'product' item.product.name %}">{{ item.product.name }}</a>
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td>
                                    €{{ item.product.price }}
                                </td>
                            </tr>
                        </td>
                        <td>
                            €{{ item.total }}
                        </td>
                    </tr>
                {% endfor %}
                {% for item in diyproducts %}
                    <tr>
                        <td class="alnleft">
                            <img src="{% static 'images/home1.jpeg' %}" width="80px">
                        </td>
                        <td>
                            <tr>
                                <td>
                                    {{ item.customer.firstname }} DIY #{{ item.diyproduct.name }}
                                </td>
                                <td>
                                    {{ item.quantity }}
                                </td>
                                <td>
                                    €{{ item.diyproduct.price }}
                                </td>
                            </tr>
                        </td>
                        <td>
                            €{{ item.total }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="row">
            <div class="col">
                <hr class="my-4">
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col text-right">
                <strong id="Totalnr">Totaal €{{ total }}</strong>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col text-right">
                <a href="{% url 'home' %}"><button class="btn" id="bestelling" type="button">Ga terug naar de homepagina</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}