{% extends "webshop/layout.html" %} 

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="row">
            <div class="col">
                <h1 id="title">Reset wachtwoord verstuurd</h1>
                <hr class="my-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <p>We hebben je instructies gemaild voor het resetten van je wachtwoord.
                Je ontvant deze e-mail spoedig.</p>
                <p>Als je geen e-mail ontvangt, check of het ingevulde e-mailadres klopt en check je spam folder.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col justify-content-center">
                <a href="{% url 'home' %}">
                  <button class="btn" type="submit" id="buttonadd" id="submit">
                      <span class="text" id="bestellingplaatsen">
                          Ga naar de home pagina
                      </span>
                  </button>
                </a>
            </div>
        </div>
    </div>

{% endblock%}