{% extends "webshop/layout.html" %} 

{% block body %}
{% load static %}

    <div class="body-wrapper">
      <div class="row">
          <div class="col">
              <h1 id="title">Wachtwoord reset voltooid</h1>
              <p>Je nieuwe wachtwoord is opgeslagen. Je kan nu inloggen met je nieuwe wachtwoord.</p>
              <hr class="my-4">
          </div>
      </div>
      <div class="row">
          <div class="col" id="title">
              <a href="{% url 'login' %}">
                  <button data-testid="add-to-cart-button-enabled" class="btn" id="buttonadd">
                      <span class="text" id="bestellingplaatsen">
                          Login
                      </span>
                  </button>
              </a>
          </div>
      </div>
    </div>

{% endblock%}