{% extends "webshop/layout.html" %} 

{% load crispy_forms_tags %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        <div class="row">
            <div class="col">
                <h1>Wachtwoord resetten</h1>
                <p>Vul je nieuwe wachtwoord in zodat wij deze kunnen verifiëren.</p>
                <hr class="my-4">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8">
                <form action="" method="POST">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <button class="btn" type="submit" id="buttonadd" id="submit">
                      <span class="text" id="bestellingplaatsen">
                          Reset wachtwoord
                      </span>
                  </button>
                </form>
            </div>
        </div>
    </div>

{% endblock%}