{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jumbotron" id="jumbo">
                        <img src="{% static 'images/mooiefoto1.jpg' %}" width="100%">
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron" id="jumbo">
                        <img src="{% static 'images/mooiefoto2.jpg' %}" width="100%">
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron" id="jumbo">
                        <img src="{% static 'images/mooiefoto3.jpg' %}" width="100%">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="jumbotron" id="jumbo">
                        <img src="{% static 'images/mooiefoto4.jpg' %}" width="100%">
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron" id="jumbo">
                        <img src="{% static 'images/mooiefoto5.jpg' %}" width="100%">
                    </div>
                </div>
                <div class="col">
                    <div class="jumbotron" id="jumbo">
                        <img src="{% static 'images/mooiefoto6.jpeg' %}" width="100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}