{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper product-image-carousel">
        <div class="row">
            <div class="col">
                <div class="row image-product-display big-image-wrapper">
                    <div class="col">
                        {% for image in product.image.all %}
                            {% if forloop.counter == 1 %}
                                <div id="{{ forloop.counter }}" class="picture">
                                    <img class="img-fluid" src="{% static image.image.url%}" alt="Lotus">
                                </div>
                            {% else %}
                                <div id="{{ forloop.counter }}" class="picture not-first-picture">
                                    <img class="img-fluid" src="{% static image.image.url%}" alt="Boat">
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="row image-product-display lower-images">
                    {% for image in product.image.all %}
                        {% if forloop.first %}
                            <div class="col first-image">
                                <a href="javascript:void(0)" class="myhover" onclick="openImg('{{ forloop.counter }}');">
                                    <img class="img-fluid" src="{% static image.image.url%}" alt="">
                                </a>
                            </div>
                        {% elif forloop.last %}
                            <div class="col last-image">
                                <a href="javascript:void(0)" class="myhover" onclick="openImg('{{ forloop.counter }}');">
                                    <img class="img-fluid" src="{% static image.image.url%}" alt="">
                                </a>
                            </div>
                        {% else %}
                            <div class="col">
                                <a href="javascript:void(0)" class="myhover" onclick="openImg('{{ forloop.counter }}');">
                                    <img class="img-fluid" src="{% static image.image.url%}" alt="">
                                </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="col">
                <p class="statement">{{ product.name }}</p>
                {% if addedtocart %}
                    <div class="row">
                        <div class="col alert-message">
                            <div class="alert alert-custom alert-dismissible fade show" role="alert">
                                {{ addedtocart }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if product.sale %}
                    <div class="sale-section">
                        <p class="not-sale-price">{{ product.price }}</p>
                        {{ product.sale_price }}
                    </div>
                {% else %}
                    <p>€{{ product.price }}</p>
                {% endif %}
                <div>
                    <p class="big-text product-info-text">Productbeschrijving</p>
                    <p class="product-description">{{ product.description }}</p>
                </div>
                {% if message %}
                    <p class="bold product-info-text">{{ message }}</p>
                {% else %}
                    {% if product.left < 5 %}
                        {% if product.left == 1%}
                            <p class="product-info-text">Er is nog {{ product.left }} stuk van dit product op voorraad!</p>
                        {% else %}
                            <p class="product-info-text">Er zijn nog {{ product.left }} stuks van dit product op voorraad!</p>
                        {% endif %}
                    {% endif %}
                    <form class="product-info-text" action="{% url 'addtocart' product.name %}" method="post">
                        {% csrf_token %}
                        <div class="row add-to-cart">
                            <div class="col number-input">
                                <label class="tiny" for="inputnumber">Aantal</label>
                                <input class="form-control" type="number" id="inputnumber" name="hoeveelheid" min="1" max="{{ product.left }}">
                            </div>
                            {% if sizes %}
                                <div class="col size-input">
                                    <label class="tiny" for="inputnumber">Maat (cm)</label>
                                    <select class="form-select" name="size">
                                        {% for size in sizes %}
                                            <option value="{{ size }}">{{ size }}</option>
                                        {% endfor %}
                                    </select>    
                                </div>
                            {% endif %}
                            <div class="col-10">
                                <button type="submit" data-testid="add-to-cart-button-enabled" class="btn" id="buttonadd" name="addtocart">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag" viewBox="0 0 16 16">
                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                                        </svg>
                                        In winkelmand
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                {% endif %}
                <div id="accordion" class="extra-product-info">
                    <div class="card">
                        <div class="card-header first-heading" id="headingOne">
                            <p class="big-text">Product informatie</p>
                            <button class="collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Materiaal: {{ product.metal_type }}</p>
                                <p class="product-information">{{ product.information }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header first-heading" id="headingTwo">
                            <p class="big-text">Retourneren</p>
                            <button class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                Wij hopen natuurlijk dat je blij bent met je aankoop, maar mocht er toch iets niet naar wens zijn, dan is retourneren mogelijk binnen 14 dagen na ontvangst van de bestelling.
                                <a href="{% url 'info' %}" class="in-text-underline">Check hier</a> hoe je het product retourneert. Het aankoopbedrag wordt binnen 5 werkdagen teruggestort.
                            </div>
                        </div>
                    </div>
                    <div class="card last-item">
                        <div class="card-header" id="headingThree">
                            <p class="big-text">Verzending</p>
                            <button class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                Wij verzenden onze pakketjes met PostNL en ze passen allemaal door de brievenbus.
                                Verzendkosten binnen Nederland bedragen €2 (zonder Track & Trace) of €4 (met Track & Trace).
                                Bij besteding van €35 of meer is verzending gratis.
                                Alle bestellingen die voor 16:00 uur worden geplaatst worden diezelfde dag nog in behandeling genomen.    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row recommended-section">
            <p class="statement">Misschien vind je dit ook leuk...</p>
        </div>
        <div class="col products-recommended">
            {% for item in recommended %}
                <div class="product-box">
                    <a href="{% url 'product' item.name %}">
                        <img class="product-image" src="{% static item.image.first.image.url %}">
                        <div class="product-info">
                            {{ item.name }}
                        </div>
                        <div class="product-price">
                            {{ item.price }}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

    <script>
        $(document).ready(function(){  

            var checkField;
            var left ="{{product.left}}"
            var input = document.getElementById("inputnumber");
            input.setAttribute("max", left);
            //checking the length of the value of message and assigning to a variable(checkField) on load
            checkField = $("input#inputnumber").val().length;  

            var enableDisableButton = function(){         
            if(checkField > 0){
                $('#buttonadd').removeAttr("disabled");
            } 
            else {
                $('#buttonadd').attr("disabled","disabled");
            }
            }        

            //calling enableDisableButton() function on load
            enableDisableButton();            

            $('input#inputnumber').keyup(function(){ 
            //checking the length of the value of message and assigning to the variable(checkField) on keyup
            checkField = $("input#inputnumber").val().length;
            //calling enableDisableButton() function on keyup
            enableDisableButton();
            });
        });

        var slideIndex = 1;
        showDivs(slideIndex);

        function plusSlides(n) {
        showDivs(slideIndex += n);
        }

        function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length} ;
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
        }

        openImg("lotus");

        function openImg(imgName) {
            var i, x;
            x = document.getElementsByClassName("picture");
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            document.getElementById(imgName).style.display = "block";
        }
    </script>

{% endblock %}