{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col register-title">
                    <p class="underline-statement statement">Hey, {{ info.firstname }}!</p>
                </div>
            </div>
            <div class="row personal-info">
                <div class="col">
                    <p class="big-text">Persoonsgegevens</p>
                </div>
            </div>
            <div class="row personal-info pers-information">
                <div class="col customer-information">
                    <p>{{ info.firstname }} {{ info.lastname }}</p>
                    {% if info.streetname %}
                        <p>{{ info.streetname }} {{ info.housenr }}</p>
                        <p>{{ info.postalcode }} {{ info.city }} {{ info.country }}</p>
                    {% endif %}
                    <p>{{ info.email }}</p>
                </div>
                <div class="col">
                    <p class="underline-statement2">
                        <a href="{% url 'logout' %}">Uitloggen</a>
                    </p>
                    <p class="underline-statement2">
                        <a href="{% url 'reset_password' %}">Wachtwoord wijzigen</a>
                    </p>
                    <p class="underline-statement2">
                        <a href="{% url 'change' %}">Gegevens wijzigen</a>
                    </p>
                </div>
            </div>
            <div class="row wishlist">
                <div class="col"></div>
                <div class="col">
                    <p class="big-text">Favorieten</p>
                </div>
            </div>
            <div class="row wishlist wishlist-items">
                <div class="col">
                    {% if favitems %}
                        {% for item in favorites %}
                            <div class="row">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                    <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                </svg>
                                <a href="{% url 'product' item.name %}">
                                    {{ item.name }}
                                </a>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col">
                    {% if not favitems %}
                        Je hebt nog geen producten aan je wishlist toegevoegd!
                    {% endif %}
                </div>
            </div>
            <div class="row order-history">
                <div class="col">
                    <p class="big-text">Bestellingen</p>
                </div>
            </div>
            <div class="row order-history order-history-items">
                <div class="col">
                    {% if orders %}
                        <a href="#">
                            Check hier je uitgebreide bestelgeschiedenis
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                            </svg>
                        </a>
                    {% else %}
                        Je hebt nog geen bestellingen geplaatst.
                    {% endif %}
                </div>
                <div class="col">
                    {% if orders %}
                        {% for order in orders %} 
                            {{ order.date_ordered }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class='row login-register'>
                <div class="col customer-question">
                    <p class="underline-statement statement">Bestaande klant?</p>
                </div>
                <div class="col customer-question">
                    <p class="underline-statement statement">Account aanmaken?</p>
                </div>
            </div>  
            <div class='row login-register'>
                <div class="col customer-question">
                    <a href="{% url 'login' %}">
                        <p class="big-text">Log in</p>
                    </a>
                </div>
                <div class="col customer-question">
                    <a href="{% url 'register' %}">
                        <p class="big-text">Registreren</p>
                    </a>
                </div>
            </div>  
        {% endif %}
    </div>

{% endblock %}