{% extends "webshop/layout.html" %}

{% block body %}
{% load static %}

    <div class="body-wrapper">
        {% if user.is_authenticated %}
            <div class="row" style="text-align: center;">
                <div class="col"id="prof">
                    <h3 id="title">Hi, {{ info.firstname }}!</h3>
                    {% if message %}
                        <p>{{ message }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row" style="text-align: center;">
                <div class="col" id="prof">
                    <h4 id="title">Persoonsgegevens</h4>
                    <p>E-mailadres: {{ info.email }}</p>
                    <p>Naam: {{ info.firstname }} {{ info.lastname }}</p>
                    {% if info.streetname %}
                        <p>Adres: {{ info.streetname }} {{ info.housenr }} <br> 
                        {{ info.postalcode }} {{ info.city }} {{ info.country }}</p>
                    {% endif %}
                    <p>
                        <a href="{% url 'change' %}"><button class="btn" id='buttonadd' id="bestelling" type="button">Gegevens wijzigen</button></a>
                    </p>
                </div>
                <div class="col" id="prof">
                    <h4 id="title">Bestelgeschiedenis</h4>
                    {% if orders %}
                        {% for item in orders.all %}
                            <p>Ordernummer: <a href="{% url 'order' item.id %}">{{ item.id }}</a></p>
                            <p>Status: {{ item.status }}</p>
                            <p>Totaal: €{{ item.total }}</p>
                            {% if forloop.last %}
                                <br>
                            {% else %}
                                <hr class="my-4">
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        Je hebt nog geen bestellingen geplaatst.
                    {% endif %}
                </div>
                <div class="col" id="prof">
                    <h4 id="title">Favorieten</h4>
                    {% if favitems %}
                        {% for item in favorites %}
                            <div class="row" id="favos">
                                <a href="{% url 'deletefromprofile' item.name %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </a>
                                <p style="margin-right:10px;"></p>
                                <a href="{% url 'product' item.name %}">
                                    {{ item.name }}
                                </a>
                            </div>
                        {% endfor %}
                    {% else %}
                        Je hebt geen producten op je favorieten staan!
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class='row justify-content-end'>
                <div class="col">
                    <h3 id="title">Bestaande klant?</h3>
                    <p style="text-align: center; font-size:18px;">
                        <a style="text-decoration: 2px underline pink;" href="{% url 'login' %}">
                            log in
                        </a>
                    </p>
                </div>
                <div class="col">
                    <h3 id="title">Account aanmaken?</h3>
                    <p style="text-align: center; font-size:18px;">
                        <a style="text-decoration: 2px underline pink;" href="{% url 'register' %}">
                            registreren
                        </a>
                    </p>
                </div>
            </div>  
        {% endif %}
    </div>

{% endblock %}