{% extends "webshop/layout.html" %}

{% block body %}
<div class="main">
<div class="container">
    <div class="row">
        <div class="col">
            <div id="title">
                <h1>Registreren</h1>
                <hr class="my-4">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            {% if message %}
                <div>{{ message }}</div>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col" id="title">
            <div class="jumbotron" id="jumbo">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-outline-dark" type="submit" id="submit">Registreren</button>
                </form>
                <hr class="my-4">
                <p>Je wachtwoord mag niet te veel lijken op je persoonlijke informatie.</p>
                <p>Je wachtwoord moet minimaal uit 8 karakters bestaan.</p>
                <p>Je wachtwoord mag niet een veelgebruikt wachtwoord zijn (denk aan '12345678').</p>
                <p>Je wachtwoord mag niet uit alleen maar getallen bestaan.</p>
                <p>Your password can’t be too similar to your other personal information.</p>
                <hr class="my-4">
                
                Heb je al een account? <a href="{% url 'login' %}"><strong>Klik hier.</strong</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}